
@{
    ViewBag.Title = "Music";
}

<h2 class="text-center">Music</h2>
<div class="row">
    <div class="col-md-6">
        <img src="@Url.Content("~/Images/FSA.jpg")" class="col-md-8" />
    </div>
    <div class="col-md-6">
        <div class="row">
            <h3>Full Speed Ahead - Single (2017)</h3>
            <a href="@Url.Content("~/Music/FullSpeedAhead-clip.mp3")">Full Speed Ahead</a>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="4BUQEY8JKB4B2">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="@Url.Content("~/Images/FlyAway.jpg")" class="col-md-8" />
    </div>
    <div class="col-md-6">
        <div class="row">
            <h3>Fly Away - Single (2017)</h3>
            <a href="@Url.Content("~/Music/FlyAway-clip.mp3")">Fly Away</a>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="4N5L2H8BM4HFU">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="@Url.Content("~/Images/mikecressey_large.jpg")" class="col-md-8" />
    </div>
    <div class="col-md-6">
        <div class="row">
            <h3>Love/Blue Sky Again - Single (2017)</h3>
            <a href="@Url.Content("~/Music/Love-BSA-clip.mp3")">Love/Blue Sky Again</a>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="HRCQTQATR76ZW">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-6">
    <img src="@Url.Content("~/Images/AngelsAndGhosts-Cover.jpg")" class="col-md-8" />
  </div>
  <div class="col-md-6">
    <div class="row">
        <h3>Angels and Ghosts (2016)</h3>
        <ol>
            <li><a href="@Url.Content("~/Music/FaceToFace-clip.mp3")">Face to Face</a></li>
            <li>Love At First Click</li>
            <li>Did Not Want to Die</li>
            <li>No Doubt About It</li>
            <li>Lease on Life</li>
            <li>St. George's Lake</li>
            <li>Change Agent</li>
            <li>Annie (You Can't Help That)</li>
            <li>Windy Hill Farm</li>
            <li>Alone</li>
            <li>Great American Way</li>
            <li>The Searcher</li>
            <li>Life Is Better</li>
            <li>There Is Still No One</li>
            <li>So Troubled</li>
        </ol>
       
    <!-- /div>
    <div class="row" -->
      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit0" alt="Make payments with PayPal - it's fast, free and secure!">
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        <input type="hidden" name="add" value="1">
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="business" value="Michael.Cressey@comcast.net">
        <input type="hidden" name="item_name" value="Angle and Ghosts">
        <input type="hidden" name="item_number" value="6">
        <input type="hidden" name="amount" value="10.99">
        <input type="hidden" name="shipping" value="2.99">
        <input type="hidden" name="buyer_credit_promo_code" value="">
        <input type="hidden" name="buyer_credit_product_category" value="">
        <input type="hidden" name="buyer_credit_shipping_method" value="">
        <input type="hidden" name="buyer_credit_user_address_change" value="">
        <input type="hidden" name="no_shipping" value="0">
        <input type="hidden" name="no_note" value="1">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="lc" value="US">
        <input type="hidden" name="bn" value="PP-ShopCartBF">
      </form>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="@Url.Content("~/Images/Xmas-back.jpg")" class="col-md-8" />
    </div>
    <div class="col-md-6">
        <div class="row">
            <h3>Chill Christmas (2015)</h3>
            <ol>
                <li><a href="@Url.Content("~/Music/Joy-clip.mp3")">Joy To The World</a></li>
                <li>O Holy Night</li>
                <li>Jingle Bells</li>
                <li>Silent Night</li>
                <li>What Child Is This</li>
                <li>Hark the Herald Angels Sing</li>
                <li>O Come, O Come Emmanuel</li>
                <li>Go Tell It On the Mountain</li>
                <li>O Little Town of Bethlehem</li>
                <li>Deck the Halls</li>
                <li>Away in a Manager</li>
                <li>O Come All Ye Faithful</li>
                <li>We Wish You a Merry Christmas</li>
                <li>Auld Lang Syne</li>
            </ol>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="BYP445DJQUQ6E">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="@Url.Content("~/Images/Thoreau-cover.jpg")" class="col-md-8" />
    </div>
    <div class="col-md-6">
        <div class="row">
            <h3>Thoreau - Poems in Song (2009)</h3>
            <ol>
                <li><a href="@Url.Content("~/Music/VoyagerSong-clip.mp3")">The Voyager's Song</a></li>
                <li>Brother</li>
                <li>The Darkest Night</li>
                <li>Love</li>
                <li>The Eagle's Wing</li>
                <li>A Winter and Spring Scene</li>
                <li>The Eagle's Wing (live)</li>
                <li>The Darkest Night (live)</li>
                <li>The Voyager's Song (live)</li>
            </ol>
            <!-- /div>
            <div class="row" -->
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit0" alt="Make payments with PayPal - it's fast, free and secure!">
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                <input type="hidden" name="add" value="1">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="business" value="Michael.Cressey@comcast.net">
                <input type="hidden" name="item_name" value="Thoreau - Poems in Song">
                <input type="hidden" name="item_number" value="5">
                <input type="hidden" name="amount" value="7.00">
                <input type="hidden" name="shipping" value="2.99">
                <input type="hidden" name="buyer_credit_promo_code" value="">
                <input type="hidden" name="buyer_credit_product_category" value="">
                <input type="hidden" name="buyer_credit_shipping_method" value="">
                <input type="hidden" name="buyer_credit_user_address_change" value="">
                <input type="hidden" name="no_shipping" value="0">
                <input type="hidden" name="no_note" value="1">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="lc" value="US">
                <input type="hidden" name="bn" value="PP-ShopCartBF">
            </form>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-6">
      <img src="@Url.Content("~/Images/BestOfCDCover2.jpg")" class="col-md-8" />
  </div>
  <div class="col-md-6">
    <div class="row">
        <h3>The Best of Cress: 1970-2005 (2006)</h3>
        <ol>
            <li><a href="@Url.Content("~/Music/NeverEverKnew-clip.mp3")">Never Ever Knew</a></li>
            <li>Make It Last</li>
            <li>Restless Heart</li>
            <li>Summer Girls</li>
            <li>Sweet Spot</li>
            <li>Don’t Hurt Your Head</li>
            <li>Cast Iron</li>
            <li>Heart of Hearts</li>
            <li>The Yankee Flyer</li>
            <li>Left the Worst Behind</li>
            <li>He Thought He Felt Something</li>
            <li>The Eagle's Wing</li>
            <li>Love Came Round</li>
            <li>From My Heart</li>
            <li>Love</li>
            <li>On a Roll</li>
            <li>First Love</li>
            <li>Push Comes to Shove</li>
            <li>Crush</li>
            <li>Love's Black Hole</li>
            <li>Running Away (from Love)</li>
            <li>Still Cressey (After All These Years)</li>
            <li>Those Were the Times</li>
        </ol>
    <!-- /div>
    <div class="row" -->
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
            <input type="hidden" name="add" value="1">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="business" value="Michael.Cressey@comcast.net">
            <input type="hidden" name="item_name" value="Best of Cress: 1970 - 2005">
            <input type="hidden" name="item_number" value="1">
            <input type="hidden" name="amount" value="12.99">
            <input type="hidden" name="shipping" value="2.99">
            <input type="hidden" name="buyer_credit_promo_code" value="">
            <input type="hidden" name="buyer_credit_product_category" value="">
            <input type="hidden" name="buyer_credit_shipping_method" value="">
            <input type="hidden" name="buyer_credit_user_address_change" value="">
            <input type="hidden" name="no_shipping" value="0">
            <input type="hidden" name="no_note" value="1">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="bn" value="PP-ShopCartBF">
        </form>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="@Url.Content("~/Images/sweetspot300.jpg")" class="col-md-8" />
    </div>
    <div class="col-md-6">
        <div class="row">
            <h3>Sweet Spot (2003)</h3>
            <ol>
                <li><a href="@Url.Content("~/Music/OnARoll-clip.mp3")">On a Roll</a></li>
                <li>Heart of Hearts</li>
                <li>The Eagle's Wing</li>
                <li>Dying Rock 'n Rolled</li>
                <li>First Love</li>
                <li>Sweet Spot</li>
                <li>Hole in My Heart</li>
                <li>Lived to Tell About It</li>
                <li>Rumble Strip</li>
                <li>Never Grow Up</li>
             </ol>
            <!-- /div>
            <div class="row" -->
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                <input type="hidden" name="add" value="1">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="business" value="Michael.Cressey@comcast.net">
                <input type="hidden" name="item_name" value="Sweet Spot">
                <input type="hidden" name="item_number" value="2">
                <input type="hidden" name="amount" value="10.00">
                <input type="hidden" name="shipping" value="2.99">
                <input type="hidden" name="buyer_credit_promo_code" value="">
                <input type="hidden" name="buyer_credit_product_category" value="">
                <input type="hidden" name="buyer_credit_shipping_method" value="">
                <input type="hidden" name="buyer_credit_user_address_change" value="">
                <input type="hidden" name="no_shipping" value="0">
                <input type="hidden" name="no_note" value="1">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="lc" value="US">
                <input type="hidden" name="bn" value="PP-ShopCartBF">
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="@Url.Content("~/Images/BrandNewStart.jpg")" class="col-md-8" />
    </div>
    <div class="col-md-6">
        <div class="row">
            <h3>Brand New Start (1999)</h3>
            <ol>
            <li><a href="@Url.Content("~/Music/Crush-clip.mp3")">Crush</a></li>
            <li>Full Speed Ahead</li>
            <li>Don't Hurt Your Head</li>
            <li>Summer Girls</li>
            <li>Love Came Round</li>
            <li>Push Comes to Shove</li>
            <li>Goodbye Frozen Pipes</li>
            <li>The Yankee Flyer</li>
            <li>300 Taxis</li>
            <li>37 Minutes</li>
            <li>Little Licks</li>
            <li>Blues in Open C Tuning</li>
            <li>Maine Eastern Central</li>
        </ol>
        <!-- /div>
    <div class="row" -->
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
            <input type="hidden" name="add" value="1">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="business" value="Michael.Cressey@comcast.net">
            <input type="hidden" name="item_name" value="Brand New Start">
            <input type="hidden" name="item_number" value="3">
            <input type="hidden" name="amount" value="10.00">
            <input type="hidden" name="shipping" value="2.99">
            <input type="hidden" name="buyer_credit_promo_code" value="">
            <input type="hidden" name="buyer_credit_product_category" value="">
            <input type="hidden" name="buyer_credit_shipping_method" value="">
            <input type="hidden" name="buyer_credit_user_address_change" value="">
            <input type="hidden" name="no_shipping" value="0">
            <input type="hidden" name="no_note" value="1">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="bn" value="PP-ShopCartBF">
        </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="@Url.Content("~/Images/Can-of-Worms.jpg")" class="col-md-8" />
    </div>
    <div class="col-md-6">
        <div class="row">
            <h3>Can of Worms (1997)</h3>
            <ol>
                <li><a href="@Url.Content("~/Music/FeedTheFire-clip.mp3")">Feed the Fire</a></li>
                <li>Restless Heart</li>
                <li>Now I'm 40</li>
                <li>Running Away</li>
                <li>Those Were the Times</li>
                <li>The Back Way</li>
                <li>Still Cressey (After All These Years)</li>
                <li>Love's Black Hole</li>
                <li>Never Wrong</li>
                <li>All the Time (in the World)</li>
                <li>Blues for Jerry</li>
                <li>Mary's Waltz</li>
            </ol>
                <!-- /div>
        <div class="row" -->
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_cart_SM.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                <input type="hidden" name="add" value="1">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="business" value="Michael.Cressey@comcast.net">
                <input type="hidden" name="item_name" value="Can of Worms">
                <input type="hidden" name="item_number" value="4">
                <input type="hidden" name="amount" value="10.00">
                <input type="hidden" name="shipping" value="2.99">
                <input type="hidden" name="buyer_credit_promo_code" value="">
                <input type="hidden" name="buyer_credit_product_category" value="">
                <input type="hidden" name="buyer_credit_shipping_method" value="">
                <input type="hidden" name="buyer_credit_user_address_change" value="">
                <input type="hidden" name="no_shipping" value="0">
                <input type="hidden" name="no_note" value="1">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="lc" value="US">
                <input type="hidden" name="bn" value="PP-ShopCartBF">
            </form>
</div>
    </div>
</div>